.viewprod-main{
	max-width: 50%;
	border: 1px solid black;
	margin: 10% auto;
	display: flex;
	justify-content: center;
	align-content: center;
	overflow: hidden;
}

.img-main{
	width: 70%;
	margin: 0 70px;
}